.welcome {
    user-select: none;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.sup {
    color: #2979ff;
}

.mod {
    color: #5fca87;
}

.adm {
    color: #ff4444;
}

.dotted-border {
    padding: 5px 10px 0 15px;
    border-left: 2px dotted #fff;
}
