@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
  --window-border: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main, #__next {
  width: 100%;
  height: 100%;
}

main {
  background-color: #222;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Monum Gothic', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  gap: 5px;
  background-color: #111;
}

.header button {
  padding: 2px 5px 2px 5px;
  background: none;
  border: none;
  color: #ddd;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  transition-duration: .25s;
}

.header button:hover {
  background-color: #555;
  cursor: pointer;
  transition-duration: .25s;
}

.tests {
  padding-top: 20px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.tests:nth-child(odd) {
  margin-right: 25px;
}

.test {
  display: flex;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  background-color: #555;
  transition-duration: .25s;
}

.test-pad {
  padding: 10px 15px 10px 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

.test:hover {
  background-color: #777;
  transition-duration: .25s;
}

.test-blank {
  user-select: none;
  width: fit-content;
  font-family: 'Open Sans', sans-serif;
  border: 2px dotted #2979ff;
  padding: 15px;
}

.pad20 {
  padding-top: 20px;
}

.sixtypcnt {
  width: 60%;
}


.title {
  padding: 0 15px 15px 15px;
}


.primary {
  color: #999;
}

.secondary {
  color: #666;
}

.column-center {
  align-items: center;
}

.vh-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-window {
  min-width: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  height: fit-content;
  background: #555;
  /*padding: 40px;*/
}

.question-header {
  display: flex;
  gap: 5px;
  user-select: none;
  font-size: 1.2em;
  color: #888;
}

.test-bar {
  padding: 5px;
  background-color: #444;
  display: flex;
  align-items: center;
}

.test-name {
  padding-left: 15px;
  margin-right: auto;
  color: #888;
}

.flex-row {
  display: flex;
  width: 100%;
  /*margin-left: auto;*/
}

.test-timer {
  background-color: #00C853;
}

.question-select {
  background-color: #333;
  max-width: 250px;
}

@media(max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .sixtypcnt {
    width: 80%;
  }
}

@media(max-width: 1000px) {
  .test-bar {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .test-window {
    width: 90%;
  }
  .test-name {
    margin-right: 0px;
  }
}

@media(max-width: 500px) {
  .header {
    flex-direction: column;
  }
}

::placeholder {
  color: #aaa !important;
}

.inline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.gap10 {
  gap: 10px;
}