.main {
  width: 100%;
  height: 100%;
}

.vh-center-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@keyframes flash {
  0% {opacity: 100%}
  50% {opacity: 0%}
  100% {opacity: 100%}
}

@keyframes shake {
  0% {transform: translateX(5px)}
  25% {transform: translateX(-5px)}
  50% {transform: translateX(5px)}
  100% {transform: translateX(0px)}
}

.flashing {
  animation: flash 1.3s infinite;
}

.shake {
  animation: shake 300ms;
}